<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=rcplgndtbsbase.database.windows.net;Initial Catalog=rcplgndtbs;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;User ID=Pesh;Password=101Pickle;Trusted_Connection=False;Encrypt=True;"
      providerName="System.Data.SqlClient" />
    <add name="RecipesConnectionString" connectionString="Data Source=localserverdb.database.windows.net;Initial Catalog=Recipes;User ID=Ash;Password=101Password"
      providerName="System.Data.SqlClient" />
    <add name="RecipesConnectionString2" connectionString="Data Source=localserverdb.database.windows.net;Initial Catalog=Recipes;User ID=Ash;Password=101Password"
      providerName="System.Data.SqlClient" />
    <add name="RecipesConnectionString3" connectionString="Data Source=localserverdb.database.windows.net;Initial Catalog=Recipes;User ID=Ash;Password=101Password"
      providerName="System.Data.SqlClient" />
    <add name="rcplgndtbsConnectionString" connectionString="Data Source=rcplgndtbsbase.database.windows.net;Initial Catalog=rcplgndtbs;Persist Security Info=True;User ID=Pesh;Password=101Pickle"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <authentication mode="Forms" >
      <forms loginUrl="Default.aspx" name=".ASPNETAUTH" protection="None" path="/" timeout="20" >
      </forms>
    </authentication>
    <!-- This section denies access to all files in this application except for those that you have not explicitly specified by using another setting. -->
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <!-- This section gives the unauthenticated user access to the Default.aspx page only. It is located in the same folder as this configuration file. -->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"  />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off" defaultRedirect="Error_Page.aspx"></customErrors>
    <pages theme=""></pages>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  <roleManager enabled="true" defaultProvider="SecurityProvider">
    <providers>
      <add name="SecurityProvider" type="System.Web.Security.SqlRoleProvider" applicationName="rcplgndtbs" connectionStringName="LocalSqlServer" />
    </providers>
  </roleManager>
  </system.web>

</configuration>
